{% extends "base.html" %}
{% block footer %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

</head>

<body>
<center>
    <dev class="log">
        <h1>Login</h1>
        {% if form.errors %}
            <h4><p>El teu nom d'usuari i password no coincideixen. Siusplau prova-ho de nou.</p></h4>
        {% endif %}
        <form method="post" action={% url 'login' %}>
    {% csrf_token %}
    <h4>
        <table>
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
        </table>
        <input type="submit" value="login">
        </h4>
<imput type="hidden" name="next" value="{{ next }}"/>
</form>
    </dev>
</center>
</body>
{% endblock %}