body.modal-footer {
    margin-bottom: 20px;
}

body.fixed-nav {
    padding-top: 65px;
}

.content {
    min-height: calc(100vh - 60px);
    padding-top: 4rem;
}

h1 {
    color: black;
}

#Marca {
    font-family: 'Lobster';
    color: darkmagenta;
}

#Menu {
    color: darkslategray;
}

#Acounts {
    color: darkblue;
}

#Login {
    text-align: center;
}

#Blak {
    color: black;
}


