h1 {
    font-weight: bold;
    font-size: 40px;
    color: black;
}

h2 {
    font-family: 'Lobster';
    font-size: 60px;
}

h4 {
    color: black;
}

h5 {
    color: black;
    font-weight: bold;
    font-family: 'Lobster';
    font-size: 30px;
}

h6 {
    color: red;
    font-size: 30px;
}

.bar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FCB124;
    height: 60px;
}

li {
    float: left;
}
li a {
    font-family: 'Lobster';
    display: inline-block;
    color: black;
    text-align: center;
    padding: 20px 20px;
    font-size: 30px;
    font-weight: bold;
}

.login {
    float: right;
    color: black;
    margin-top: 0px;
    font-size: 30px;
}

#para1 {
    color: black;
    text-align: center;
}

#para2 {
    color: black;
}

#para3 {
    color: dodgerblue;
    text-align: center;
}

#para3 {
    color: dodgerblue;
    text-align: center;
}




