{% extends "base.html" %}
{% block content %}
    <h2 id="para2">Edició de {{ playlist.name }}</h2><br>

    <p>
    <form action="Edit/?playlist={{ playlist.name }}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h4>Nom de la playlist: <input type="text" name="name" value="{{ playlist.name }}"></h4>
        <br>
        {% if songs %}
            <h5>Cançons a borrar de la llista:</h5><br>

            <h4>{% for song in songs %}
                <div style="display: inline-table;">
                    {% csrf_token %}
                    <a id="para4" href="/lyricfy_app/{{ song.song.name }}">{{ song.song.name }}</a>
                    <br>
                    <input type="checkbox" name="selected_song" value={{ song.song.pk }}>
                </div>
            {% endfor %}</h4>

        {% else %}
            <h5>No hi ha cançons associades.</h5>
        {% endif %}
        <hr>
        <input type="hidden" name="playlist" value={{ playlist.name }}/>

        <button type="submit">Guardar els canvis</button>
    </form>

    <a href="/lyricfy_app/Playlists/">
        <button type="button">Cancelar</button>
    </a>
    </p>
{% endblock %}