{% extends "base.html" %}
{% block content %}
    <h1 id="Marca">Playlists</h1><br>
    {% if playlists %}
        {% for playlist in playlists %}
            <br><h5><a href="Info?playlist={{ playlist.name }}">{{ playlist.name }}</a></h5>
        {% endfor %}

    {% else %}
        <h3>No hi ha cap playlist creada.</h3>
    {% endif %}
    <hr>

    <a href="{% url 'Create_playlist' %}">
        <h4>
            <button type="button">Crear Playlist</button>
        </h4>
    </a>
{% endblock %}