{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Lyricfy {% endblock %}</title>
</head>
<body>
<div id="header">
    {% block header %}
        {% if user.is_authenticated %}
            <p>User: {{ user.username }} |
                <a href="{% url 'logout' %}?next={{ request.path }}">logout</a></p>
        {% else %}
            <p><a href="{% url 'login' %}?next={{ request.path }}">login</a></p>
        {% endif %}
    {% endblock %}
</div>
<div id="sidebar">
    {% block sidebar %}
        <ul>
            <li><a href="{% url 'home' %}">Inici</a></li>
        </ul>
    {% endblock %}
</div>
<div id="footer">
    {% block footer %}{% endblock %}
</div>
</body>
</html>