{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}  Lyricfy {% endblock %}</title>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet"
          type="text/css">


    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">


</head>
<body>
<div id="title" style="color: cornflowerblue;">
    <h2 id="para3">Lyricfy</h2>

<div class="navbar">
    {% block sidebar %}
        <ul class="bar-nav">
            <li class="login">
                {% if user.is_authenticated %}
                    Benvingut: {{ user.username }} |<a href="{% url 'logout' %}?next={{ request.path }}">logout</a>
                {% else %}
                    <a href="{% url 'login' %}?next={{ request.path }}">login</a> |
                    <a href="{% url 'registre' %}">registrar-se</a>
                {% endif %}
            </li>
            <li><a href="{% url 'home' %}">Inici</a></li>
        </ul>
    {% endblock %}
</div>
<div id="footer">
    {% block content %}{% endblock %}
</div>
</body>
</html>