{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>

    <!--- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{% block metadescription %}{% endblock metadescription %}">
    <meta name="keywords" content="{% block metakeywords %}{% endblock metakeywords %}">
    <!--- Bootstrap CSS --->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>{% block title %}  Lyricfy {% endblock %}</title>


</head>
<body>
<nav class="navbar navbar-light bg-light navbar-expand-lg fixed-top">
    <a id="Marca" href="{% url 'home' %}" class="navbar-brand ">Lyricfy</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav">
            <li class="navbar-item">
                <a id="Menu" href="{% url 'home' %}" class="nav-link">Inici</a>
            </li>
            <li class="nacbar-item">
                {% if user.is_authenticated %}
                    <a id="Menu" href="{% url 'playlists' %}" class="nav-link">Playlists</a>
                {% endif %}
            </li>
            <li class="search-container">
                <form action="/lyricfy_app/search">
                    <input type="text" placeholder="Search Song" name="song" required>
                    <button type="submit" value="search">Cercar</button>
                </form>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="login navbar-item">
                {% if user.is_authenticated %}
                    Benvingut: {{ user.username }} |
                    <a id="Acounts" href="{% url 'logout' %}?next=/lyricfy_app/">logout</a>
                {% else %}
                    <a id="Acounts" href="{% url 'login' %}?next=/lyricfy_app/">login</a> |
                    <a id="Acounts" href="{% url 'registre' %}">registrar-se</a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>

<div class="content">
    <div class="container-fluid">
        {% block content %}{% endblock %}
    </div>
</div>
<!--Footer-->
<footer class="modal-footer">
    <div class="container">
        <div class="text-center">
            <small>© 2018. An University of Lleida project by Lyricfy members</small>
        </div>
    </div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>