{% extends 'base.html' %}
{% block content %}
    <h2>Afegir cançó</h2>
    <h3>{{ name }} - {{ album }} - {{ artist }}</h3>
    <form action="/lyricfy_app/ConfirmAddSong?album={{ album }}&artist={{ artist }}&name={{ name }}" method="post">
        {% if playlists %}
            <h5>Playlists disponibles:</h5><br>
            <h4>{% for playlist in playlists %}
                <div style="display: inline-table;">
                    {% csrf_token %}
                    <a id="para4"
                       href="/lyricfy_app/Playlists/Info?playlist={{ playlist.name }}">{{ playlist.name }}</a>
                    <br>
                    <input type="checkbox" name="selected_playlist" value={{ playlist.pk }}>
                </div>
            {% endfor %}
            </h4>

            <button type="submit">Afegir cançó</button>
            </form>
            <a href="/lyricfy_app/SongInfo?album={{ album }}&artist={{ artist }}&name={{ name }}">
                <h4>
                    <button type="button">Cancel·lar</button>
                </h4>
            </a>
        {% else %}
            <h5>No hi ha playlist associades.</h5>
        {% endif %}
{% endblock %}