{% extends 'base.html' %}
{% block content %}
    <h1 id="Marca">Afegir cançó</h1>

    <div style="margin-top: 30px;" class="container">
        <div class="card">
            <div class="card-body">
                <h3>{{ name }} - {{ album }} - {{ artist }}</h3>
                <hr>
                <form action="/lyricfy_app/ConfirmAddSong?album={{ album }}&artist={{ artist }}&name={{ name }}"
                      method="post">
                    {% if playlists %}
                        <br><h5>Playlists disponibles:</h5>
                        <ul class="list-group list-group-flush">
                            <h4>{% for playlist in playlists %}
                                {% csrf_token %}
                                <li class="list-group-item">
                                    <input type="checkbox" name="selected_playlist" value={{ playlist.pk }}>
                                    <a id="List"
                                       href="/lyricfy_app/Playlists/Info?playlist={{ playlist.name }}">{{ playlist.name }}</a>
                                </li>
                            {% endfor %}</h4>

                        </ul>
                        <nav class="navbar navbar-light navbar-expand-lg">
                            <button class="btn btn-primary" style="background-color: #392089;" type="submit">Afegir
                                cançó
                            </button>
                            &nbsp;
                            <a href="/lyricfy_app/SongInfo?album={{ album }}&artist={{ artist }}&name={{ name }}">
                                <button type="button" class="btn btn-primary" style="background-color: #392089;">
                                    Cancel·lar
                                </button>
                            </a>
                        </nav>
                        </form>

                    {% else %}
                        <h5>No hi ha playlist associades.</h5>
                    {% endif %}
            </div>
        </div>
    </div>
{% endblock %}