{% extends 'base.html' %}
{% block content %}
    <h1 id="Marca">Lyric - Cançó: {{ name }}, Artista: {{ artist }} </h1><br>

    {% if lyric %}
        <div id="Card" class="card">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <pre>{{ lyric }}</pre>
                </li>
            </ul>
        </div>
    {% else %}
        <dev id="Mesure">
            <h5>No s'ha trobat la lletra</h5>
        </dev>
    {% endif %}

{% endblock %}