{% extends 'base.html' %}
{% block content %}
    <h1 id="Marca">Informació de la cançó</h1>
    <div id="Card" class="card">
        <ul class="list-group list-group-flush">
            <span vocab="http://schema.org/" typeof="MusicRecording">
                <h5 class="list-group-item">Nom de la cançó: <span property="name"> {{ name }}</span></h5>
                <h5 class="list-group-item">Album: <span property="inAlbum">{{ album }}</span></h5>
                <h5 class="list-group-item">Artista: <span property="byArtist">{{ artist }}</span></h5>
            <li class="list-group-item">
                <br>
                <span rel="recordingOf" typeof="MusicComposition">
                    <h2>Lletra:</h2>
                    {% if lyric %}
                        <pre><span property="lyrics">{{ lyric.lyric }}</span></pre>
                    {% else %}
                        <h5>No s'ha trobat la lletra</h5>
                    {% endif %}
                </span>

            </li>
            </span>
        </ul>
    </div>
{% endblock %}