{% extends 'base.html' %}
{% block content %}
    <h2 id="para2">Informació de la cançó</h2>
    <h5>Nom de la cançó: {{ name }}</h5>
    <h5>Album: {{ album }}</h5>
    <h5>Artista: {{ artist }}</h5>
    <a href="/lyricfy_app/Lyric?artist={{ artist }}&name={{ name }}">
        <h4>
            <button id='content' type="button">Obtenir Lletra</button>
        </h4>
    </a>
    {% if user.is_authenticated %}
        <a href="/lyricfy_app/AddSong?album={{ album }}&artist={{ artist }}&name={{ name }}">
            <h4>
                <button type="button" name="add_song">Afegir cançó a playlist</button>
            </h4>
        </a>
    {% endif %}
{% endblock %}